<ul id="others">
    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
    <li><a class="nav-link scrollto" href="#about">About</a></li>
    <li><a class="nav-link scrollto" href="#customers">Customers</a></li>
    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
</ul>