@model (string, string, string)


<div class="icon-box" data-aos="fade-up" data-aos-delay="200">
    <div class="icon"><i class="@Model.Item1"></i></div>
    <h4 class="title"><a>@Model.Item2 </a></h4>
    <p class="description">@Model.Item3</p>
</div>