@model (string, string)

<div class="col-lg-3 col-md-6">
    <div class="member" data-aos="fade-up" data-aos-delay="100">
        <div class="pic"><img src=@Model.Item1 alt=""></div>
        <h4>@Model.Item2</h4>
        <div class="social">
            <a target="_blank" href="https://google.com"><i class="bi bi-globe"></i></a>
            <a target="_blank" href="https://facebook.com"><i class="bi bi-facebook"></i></a>
            <a target="_blank" href="https://instagram.com"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>