@model (string, int)

<div class="col-lg-3 col-6 text-center">
    <span data-purecounter-start="0" data-purecounter-end="@Model.Item2" data-purecounter-duration="1" class="purecounter"></span>
    <p>@Model.Item1</p>
</div>