@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <a type="button" class="btn-close" aria-label="Close" href="@Url.Action("Index", "Home")"></a>
        @Model
    </div>
}
