@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link href="~/css/login-register-style.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container d-flex justify-content-between align-items-center">
            <nav id="navbar" class="navbar">
                <ul id="login-register">
                    <li>
                        <a class="nav-link scrollto active" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                </ul>
                <ul id="others">
                    <li><a class="nav-link scrollto" href="@Url.Action("Index", "Home")">Home</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/carousel/carousel1.png" class="d-block w-100" alt="carousel2">
                </div>
            </div>
        </div>

        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-auto offset-lg-auto" id="register">
                    <form id="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2>Create a new account.</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-1">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-1">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <br />
                        <div>
                            <input class="form-check-input" type="radio" name="Input.RoleName" value="Receiver" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                                Register as Receiver
                            </label>
                            <i class="bi bi-info-circle h5" data-toggle="tooltip" data-placement="top" title="Receiver - the person who are a service provider"></i>
                        </div>
                        <div>
                            <input class="form-check-input" type="radio" name="Input.RoleName" value="Applicant">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Register as Applicant
                            </label>
                            <i class="bi bi-info-circle h5" data-toggle="tooltip" data-placement="top" title="Applicant - the person who wants to report problems"></i>
                        </div>
                        <br />
                        <div id="outer" class="row">
                            <div class="col-md">
                                <button type="submit" class="w-100 btn btn-lg innerbtn">Register</button>

                            </div>
                            <div class="col-md">
                                <a type="button" class="w-100 btn btn-lg innerbtn" asp-area="Identity" asp-page="/Account/Login">Log in</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
