@using ReportingApp.UI.Models.Calendar;
@model IEnumerable<CalendarEvent>

@{
    ViewData["Title"] = "MyAcceptedFailuresCalendar";
}

<h1>MyAcceptedFailuresCalendar</h1>

<partial name="Calendar" model="(Model)" />