@using ReportingApp.UI.Models.FailureSolutions;
@model (FailureSolutionsVM, bool);

@{
    ViewData["Title"] = "Solutions";
    var accesToAdd = Model.Item2;
}

<h1>Solutions</h1>

@if (accesToAdd)
{
    <p>
        <a class="btn btn-primary btn-sm" asp-action="CreateSolution">Create New</a>
    </p>
}

<partial name="_FailureSolutions" model="(Model.Item1.Solutions, Model.Item1.AnyAccepted)" />

@section Scripts
    {
    <script src="~/js/modal-alert/modal-alert.js"></script>
}