@using ReportingApp.UI.Models.Calendar;
@model IEnumerable<CalendarEvent>

@{
    ViewData["Title"] = "MyAcceptedSolutionsCalendar";
}

<h1>MyAcceptedSolutionsCalendar</h1>

<partial name="Calendar" model="(Model)" />